.border {
	position: relative;
	margin: auto;
	height: 710px;
	width: 710px;

	background-color: #A9A9A9;
}

#title {
	position:relative;
	top:15px;
	font-family: 'Kaushan Script';
	font-size: 30px;
	color: #FFD700;
	text-align: center;
	
}

.gridbox {
	position: relative;
	margin: auto;
	height: 700px;
	width: 700px;
	top: 5px;

	background-color: gray;
}

.square {
	position: relative;
	float: left;
	background-color: white;
}

#hey {
	background-color: red;
}