.gridbox {
	position: relative;
	left:100px;
	height: 1000px;
	width: 500px;
}

.square {
	position: relative;
	float: left;
	height: 30px;
	width: 30px;
	background-color: red;
	border: solid 1px white;
}